# Odoo & Python Compiled bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.gdb

# Docker Persistent Local Data Volumes
odoo-web-data/
odoo-db-data/
pgdata/
.env

# OS/Editor system files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
